{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container_modal">
      <h2 class="title">Acesse aqui</h2>
      <br />
      <img
        src="{% static 'img/image-modal.png' %}"
        class="image-modal"
        alt="Avatar mulher com gatinho"
      />
      <br />
      {% if form.errors %}
      <p>Usuário ou senha inválidos. Por favor, tente novamente.</p>
      {% endif %}
      <form class="login-form" method="post">
        {% csrf_token %} {{ form.as_p }}

        <button type="submit" class="button_modal">Login</button><br /><br />
        <a href="/cadastro_funcionario" class="link_modal">Cadastre-se</a>
      </form>
    </div>

{% endblock %}
