{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Squad Dorothy Vaughan">
    <meta name="description" content="Abrigo de animais - desafio final">
    <title>Home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Radley:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sigmar+One&display=swap" rel="stylesheet">
    <style>
        .align-left {
            text-align: left;
        }
        /* Ajusta a largura do carrossel */
        #owl-carousel .owl-stage-outer {
            overflow: visible !important;
        }
        /* Define o tamanho das imagens no carrossel */
        #owl-carousel .owl-item img {
            width: 150px; /* Define a largura das imagens */
            height: 150px; /* Define a altura das imagens */
            margin: 0 10px; /* Adiciona margem entre as imagens */
        }
        /* Remove os botões de navegação padrão do carrossel */
        #owl-carousel .owl-nav {
            display: none;
        }
    </style>
</head>
<body>
<header class="header">
    <span class="dorothy">Dorothy</span> <span class="adocao">Adoção</span>
    <a href="#" title="informacoes" class="pag_link">Quem somos</a>
    <a href="/home" title="Página inicial" class="pag_link">Quero adotar</a>
    <a href="#parceiros" title="Parcerias" class="pag_link">Seja nosso parceiro</a>
    <a href="/login" title="Login" class="pag_link login_link">Entrar</a>
</header>

<h5 class="title">Amigo não se compra!!</h5>

<br>

<!-- Carrossel de imagens dos animais -->
<div id="owl-carousel" class="owl-carousel owl-theme">
    {% for animal in list_animals %}
        <div class="item">
            <img src="{{ animal.foto.url }}" alt="{{ animal.nome }}">
        </div>
    {% endfor %}
</div>

<br> 

{% if mensagem %}
    <p class="alert alert-primary alert-dismissible fade show m-5">
        {{ mensagem }}
    </p>
{% endif %}
<div class="search-container">
    <form action="{% url 'pesquisa_animal' %}" method="GET">
        <input
            type="search"
            id="search-input"
            name="q"
            placeholder="{% if query %}{{ query }}{% else %}Pesquisar por palavras chave raça, especie ...{% endif %}"
        />
        <button type="submit" id="search-button"></button>
    </form>
</div>


<section class="container-cards">
    {% for animal in list_animals %}
        <div class="card" style="width: 18rem; height: 40rem">
            <div class="card-body">
                <img
                    src="{{ animal.foto.url}}"
                    alt="{{ animal.nome }}"
                    class="card-img-top"
                    width="200px"
                    height="200px"
                />

                <h5 class="card-title">{{ animal.nome }}</h5>
                {% if animal.sexo == 'femea' %}
                    <img src="{% static 'icon/icon-female.png' %}" class="icon-gender">
                {% else %}
                    <img src="{% static 'icon/icon-masc.png' %}" class="icon-gender">
                {% endif %}

                <p class="card-text text-center align-left"><strong>Idade:</strong> {{ animal.idade}}</p>
                <p class="card-text text-center align-left"><strong>Raça:</strong> {{ animal.raca}}</p>

          <a href="/login" class="btn custom-btn" data-username="{{ animal.nome }}">Quero adotar</a>
          <a href="/detalhes/{{ animal.id }}" class="btn custom-btn">Detalhes</a>
               

             
            </div>
        </div>
    {% endfor %}
</section>
{% block content %} {% endblock %}
<footer>
    Desenvolvido por Squad Dorothy Vaughan
    <a href="https://github.com/anafbarreto/Abrigo_animais" title="Página do projeto no github" class="github_link">
        <img src="{% static 'icon/github.png' %}" class="github_icon" alt="Ícone GitHub">
      </a>
    </footer>
 
  </body>
    </a>
</footer>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $(document).ready(function(){
        $("#owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true, // Ativa a rotação automática
            autoplayTimeout: 3000, // Define o tempo de exibição de cada slide em milissegundos (3 segundos)
            nav: true,
            responsive:{
                0:{
                    items: 1
                },
                600:{
                    items: 3
                },
                1000:{
                    items: 5
                }
            }
        });
    });
</script> -->
</body>
</html>
